<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Datos Personales - Task 0</h1>
    <p>Kelvin Pereira</p>
    <p>Cedula de Identidad: 30790381</p>
    <p>Seccion 3</p>
  </body>
</html>
